* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input {
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

html {
  background: url(images/highRes.webp) no-repeat center center fixed #612213;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lobster', cursive;
  font-display: swap;
}

header .mainLogo {
  float: right;
  width: 100px;
  height: 100px;
  background: #555;
  margin-right: 10px;
}

header .mainLogoXks {
  background: #555;
  margin-right: 10px;
  float: right;
  width: 146px;
  height: 83px;
}

header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center; /* align vertical */
    font-size: 12.5vh;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    margin: 10px;
}

#main {
    display: flex;
    justify-content: center;
}

#content {
    width: 90%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
}

#content div {
    width: 200px;
    height: 200px;
}

#share {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
    margin-right: 45px;
}

.logo {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

/*
--- ARCADE BUTTON ---
Link: https://codepen.io/mkvug/pen/meJyr
<a id="button">Click Me</a>
*/
a.button {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.75em;
  color: #ffe5e5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  background: #f00;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
  margin: -74px 0 0 -75px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.5);
  box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), 0 5px 10px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: -3px 5px 0 0;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  text-decoration: none;
}
a.button:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -5;
  width: 180px;
  height: 180px;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #f00;
  top: -15px;
  left: -20px;
  -webkit-box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
  box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
}

a.button:active {
  -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
  color: #ffeded;
}

.tag {
  position: absolute;
  color: #363232;
  text-shadow: 1px 1px 1px #b0b0b0;
  margin-top: 20px;
  margin-left: 16px;
  z-index: 10;
}

.tagNew {
  color: #ffeb3b;
  text-shadow: 1px 2px 1px #030303;
  font-style: italic;
}


/* ----- MEDIA QUERIES ------ */
/* Large desktop */
@media (min-width: 1200px) {
  a.button {
 	font-size: 1.5em;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  html {
    /* background: url(images/highRes.jpg) no-repeat center center fixed; */
    background: url(images/highRes.webp) no-repeat center center fixed #612213;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    font-size: 7.5vh;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  html {
    background: url(images/highRes.webp) no-repeat center center fixed #612213;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header .mainLogo {
    width: 35px;
    height: 35px;
    margin-top: 27px;
    margin-right: 1px;
  }

  h1 {
    font-size: 6vh;
  }

  #share {
    margin-top: 27px;
    margin-bottom: 17px;
    width: 100%;
  }

  header .mainLogoXks {
    width: 108px;
    height: 63px;
  }

  #content div {
    width: 100px;
    height: 125px;
  }

  .logo {
    width: 30px;
    height: 230x;
  }

  a.button {
    font-size: 3vw;
    width: 60px;
    height: 60px;
    padding: 0px 5px 0 0;
    margin: -50px 0 0 -25px;
  }

  a.button:before {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    top: -15px;
    left: -20px;
    -webkit-box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
    box-shadow: inset 0 7px 15px rgba(255,255,255,0.5), inset 0 -7px 15px rgba(0,0,0,0.5);
  }

  .tag {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    font-size: x-small;
  }
}
